html {
  scroll-behavior: smooth;
}

#header {
  background: url('./img/bookstore1.jpg') center/cover;
  height: 35vh;
  width: 100%;
  margin-top: -50px;
}

#header-sign-in {
  background-color: transparent;
  padding: 0.3em;
  outline: transparent;
  border: #fff 1px solid;
}

#sign-out-button {
  background-color: transparent;
  outline: transparent;
  border: #fff 1px solid;
  padding: 0.2em;
  margin-top: -1em;
}

.app-title {
  color: #fff;
  position: absolute;
  transform: translateY(250%);
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-heading {
  width: 100%;
  display: flex;
  justify-content: center;
}

#nav {
  height: 5vh;
  width: 100%;
}

.navLink {
  color: #fff;
  font-weight: 700;
  text-shadow: #000 1px 0 10px;
  text-decoration: none;
  z-index: 1000;
}

.navLink:hover {
  opacity: 0.7;
  text-decoration: none;
  color: #f9f9f9;
}

/* @media(min-width: 1050px){
  header {
    height: 35vh;
  }

  .app-title {
    transform: translateY(50%);
  }
} */

/* Home */

#quote {
  text-align: center;
  margin: 5% 20% 0 20%;
}

#search-form {
  text-align: center;
  margin: 30px auto;
  position: relative;
}
#search-input {
  display: inline;
  width: 300px;
}

#search-submit {
  margin-bottom: 4px;
}

#bookList{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.book {
  width: 30vw;
  border: none;
}

#spacer-div {
  margin-top: 350px;
}

.add-to-cart {
  margin-top: 1px;
}

.add-to-cart,
.preview-link {
  width: 132px;
}

.book-actions {
  display: flex;
  flex-direction: column;
}

@media(max-width: 780px){
  #bookList{
    grid-template-columns: 1fr 1fr !important;
  }

  .book {
    padding: 10px;
  }
}

/* Cart */

#cart {
}

#empty-cart-div {
  display: flex;
  justify-content: center;
}

.cartBook {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  padding: 5%;
}

.cart-btn {
  margin: 5px;
}


/* Checkout Modal */

#checkout-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2%;
  margin-top: -100px;
  margin-bottom: 40px;
}

#checkout-bottom {
  display: flex;
  /* flex-direction: column;
  align-items: flex-end; */
  justify-content: flex-end;
}

.checkout-table td {
  padding: 5px 5px 0 0;
}

#checkout-subtotal {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}


/* Featured Page */
.comment {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  justify-items: left;
  width: 80%;
  margin: 0 auto;
}

.user {
  display: flex;
  flex-direction: column;
  width: 85px;
  position: relative;
  top: 10px;
  left: -10px;
}

.user-icon {
  display: flex;
  justify-content: center;
  align-content: center;
}

.username {
  display: flex;
  justify-content: center;
  align-content: center;
  text-overflow: ellipsis;
}

.comment-content {
  height: 140%; 
  border-left: 1px solid grey;
  padding: 12px;
}

#featured-main{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#featured-cover {
  width: 20%;
  height: 20%;
  margin: 0 auto;
}

#featured-description {
  width: 80%;
  margin: 0 auto;
}

#comment-form {
display: flex;
justify-content: center;
}

#comment-field {
 width: 400px;
}

.edit-comment-form {
  display: flex;
  flex-direction: column;
}

.edit-comment-field {
  border-radius: 3px;
  border: 1px solid lightgrey;
  font-size: 1.1rem;
  width: 400px;
}

#sign-in-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


@media(max-width: 600px){

#comment-form {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#comment-submit {
  width: 400px;
}

#comment-field {
  margin: 0 auto;
}
}

/* Footer */
#footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 3%;
  margin-top: 20vh;
}

/* utility classes */

.error {
  border: red 1px solid;
}