
header {
  background: url('./img/bookstore1.jpg') center/cover;
  height: 30vh;
  width: 100%;
}

.app-title {
  color: #fff;
  transform: translateY(40%);
}

#nav {
  height: 5vh;
  width: 100%;
}

.navLink {
  color: #fff;
  font-weight: 700;
  text-shadow: #000 1px 0 10px;
  text-decoration: none;
}

.navLink:hover {
  opacity: 0.7;
  text-decoration: none;
  color: #f9f9f9;
}

@media(min-width: 1050px){
  header {
    height: 35vh;
  }

  .app-title {
    transform: translateY(50%);
  }
}

/* Home */

#quote {
  text-align: center;
  margin: 5% 20% 0 20%;
}

#search-form {
  text-align: center;
  margin: 30px auto;
  position: relative;
}
#search-input {
  display: inline;
  width: 300px;
}

#search-submit {
  margin-bottom: 4px;
}

#bookList{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  min-height: 40vh;
}

.book {
  width: 30vw;
  border: none;
}

.book-cover{
 /* display: block;
 margin: 0 auto; */
}

@media(max-width: 780px){
  #bookList{
    grid-template-columns: 1fr 1fr !important;
  }

  .book {
    padding: 10px;
  }
}

/* Cart */

#subtotal {
  /* hmmmm */
}

.cartBook {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  padding: 5%;
}

.cart-btn {
  margin: 5px;
}

/* Featured Page */

.comment {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  justify-items: left;
  width: 80%;
  margin: 0 auto;
}

.user {
  align-self: center;
  justify-self: left;
  position: relative;
  padding-right: 10px;
}

.user i {
    position: relative;
    left: 35% !important;
}

.comment-content {
  /* height: 140%; */
  border-left: 1px solid grey;
  padding: 12px;
}

#featured-main{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#featured-cover {
  width: 20%;
  height: 20%;
  margin: 0 auto;
}

#featured-description {
  width: 80%;
  margin: 0 auto;
}

#comment-form {
display: flex;
justify-content: center;
}

#comment-field {
 width: 400px;
}

.edit-comment-form {
  display: flex;
  flex-direction: column;
}

.edit-comment-field {
  border-radius: 3px;
  border: 1px solid lightgrey;
  font-size: 1.1rem;
  width: 400px;
}

@media(max-width: 600px){

#comment-form {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#comment-submit {
  width: 400px;
}

#comment-field {
  margin: 0 auto;
}
}


/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 3%;
  margin-top: 10vh;
  /* border-top: 1px lightgrey solid; */
}