
header {
  background: url('./img/bookstore1.jpg') center/cover;
  height: 30vh;
  width: 100%;
}

.app-title {
  color: #fff;
  transform: translateY(40%);
}

#nav {
  height: 5vh;
  width: 100%;
}

.navLink {
  color: #fff;
}

/* Home */
#form {
  text-align: center;
  margin: 30px auto;
  position: relative;
}
.form-control {
  display: inline;
  width: 300px;
}

#submit {
  margin-bottom: 4px;
}

#bookList{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.book {
  width: 30vw;
  border: none;
}

/* Cart */

.cartBook {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  padding: 5%;
}

/* Featured Page */

.comment {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  justify-items: left;
}

.user {
  align-self: center;
  justify-self: left;
  position: relative;
}

.user i {
    position: relative;
    left: 35% !important;
}

.comment-content {
  height: 140%;
  border-left: 1px solid grey;
  padding-left: 12px;
}